extends layout

block body

	div!=contents

	for appentry in collections.apps
		.panel.panel-default(class=appentry.private?'panel-warning':'')
			.panel-heading
				h3.panel-title
					unless appentry.public
						span.glyphicon.glyphicon-lock
					=appentry.title
			.panel-body!=appentry.contents
			.panel-footer
				a(href="#top").btn Back to top

append menu
	h1 Resources
	hr
	if resources
		ul.nav.subnav
			each resource in resources
				li
					a(href='/api/reference/##{resource.uniqueId}')
						span=resource.displayName ? resource.displayName : resource.relativeUri
						if resource.isPrivate
							i.glyphicon.glyphicon-lock
	else
		label Could not find resources list.